# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\techyhans\face-detection-60fps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
